node_modules
dist
.turbo
coverage

# Next.js
.next/
out/
.wrangler
wrangler.toml
.vercel
.next

# env
.env
.env.local
.env*.local
.dev.vars

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store

# planning
planning